body{
    background: url(../Imagenes/Fondo-de-pantalla-Abstracto-101.jpg) no-repeat center center fixed;
    background-size: cover;

}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}






